* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.site {
  height: 100vh;
  &-header {
    padding: 16px 16px 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    .menu {
      display: none;
      transform: scale(.7);
    }
    .logo {
      width: 24px;
      margin: 0 10px;
    }
    .xiyo {
      width: 48px;
      transform: translateY(-2px);
    }
  }
  &-aside {
    min-width: 200px;
    height: 100%;
    padding: 16px 16px 16px 28px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, .1);
    &-title {
      font-size: 22px;
      margin: 20px 0 10px;
    }
    li {
      color: #777;
      padding: 6px 0;
      transition: all .25s ease;
      &:hover {
        color: #ff8f78;
      }
      .active {
        color: #ff8f78;
      }
    }
  }
  &-main {
    padding: 32px;
    width: 0;
    .detail {
      font-size: 14px;
      color: #666;
      margin-top: 10px;
      &-more {
        font-size: 14px;
        color: #666;
        margin: 0;
        a {
          color: #0366d6;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .icon-example {
      .xiyo-icon {
        margin-right: 12px;
      }
    }
    .button-example, .dialog-example {
      .xiyo-button {
        margin-right: 10px;
      }
    }
    .layout-example {
      .layout {
        height: 200px;
        margin-top: 24px;
        &:first-child {
          margin: 0;
        }
      }
      .header, .footer, .main, .aside {
        color: #fff;
        margin: 2px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .header, .footer {
        background: lighten(#ff8f78, 10%);
      }
      .main {
        background: #ff8f78;
      }
      .aside {
        background: lighten(#ff8f78, 5%);
      }
    }
    .demo {
      margin: 50px 0;
      &-content {
        margin-top: 16px;
        border: 1px solid #ddd;
        box-shadow: 0 0 3px fade-out(black, .9);
        &-component {
          border-bottom: 1px solid #ddd;
          padding: 20px 14px;
        }
        &-action {
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .3s ease;
          &:hover {
            background: #fafafa;
            .xiyo-button-theme-link {
              background: #fafafa;
            }
          }
          &-button {
            transition: all .3s;
            transform: translateX(32px);
            opacity: 0;
            .xiyo-button-theme-link:hover {
              color: #ff8f78;
            }
          }
          .xiyo-icon {
            transition: all .3s;
            transform: scale(.32) translateX(120px);
            &.codeVisible {
              transform: scale(.32) translateX(120px) rotate(-180deg);
            }
          }
          @media (min-width: 501px) {
            &:hover {
              cursor: pointer;
              .demo-content-action-button {
                transform: translateX(0);
                opacity: 1;
                .xiyo-button-theme-link {
                  color: #ff8f78;
                  background: transparent;
                }
              }
              .xiyo-icon {
                transform: scale(.32) translateX(6px);
                &.codeVisible {
                  transform: scale(.32) translateX(6px) rotate(-180deg);
                }
              }
            }
          }
        }
        @media (max-width: 500px) {
          .demo-content-action {
            background: #fff;
            &:hover {
              background: #fff;
              .xiyo-button-theme-link {
                background: #fff;
              }
            }
            .xiyo-button-theme-link {
              background: #fff;
            }
            &-button {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
        &-code {
          transition: all .4s;
          max-height: 0;
          overflow: auto;
          background: #fafafa;
          &.codeVisible {
            max-height: 490px;
          }
          pre {
            margin: 0;
            padding: 16px;
            font-size: 14px;
            font-family: Consolas, 'Courier New', Courier, monospace;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .site {
    margin: 0 200px;
  }
}
@media (max-width: 500px) {
  .site {
    &.visible {
      overflow: hidden;
    }
    &-header {
      position: relative;
      text-align: center;
      .menu {
        display: block;
        position: absolute;
        top: 12px;
        left: 22px;
        transition: all .4s ease;
        color: #777;
        &.visible {
          color: #ff8f78;
        }
      }
      .logo {
        width: 24px;
        margin: 0 10px;
      }
      .xiyo {
        display: none;
      }
    }
    &-aside {
      transition: all .4s ease;
      transform: translateX(-200px);
      &.visible {
        transform: translateX(0);
      }
    }
    &-main {
      min-width: 100%;
      transition: all .4s ease;
      transform: translateX(-200px);
      position: relative;
      &.visible {
        transform: translateX(0);
      }
      .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        transform: translate(-32px, -32px);
        z-index: -1;
        opacity: 0;
        transition: all .4s ease;
        &.visible {
          z-index: 100;
          opacity: 1;
        }
      }
      .demo-content-action {
        .xiyo-icon {
          transform: scale(.32) translateX(32px);
          &.codeVisible {
            transform: scale(.32) translateX(32px) rotate(-180deg);
          }
        }
      }
    }
  }
}

