* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.site {
  height: 100vh;
  padding-top: 56px;
  &-header {
    padding: 16px 16px 12px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: 10;
    .menu {
      display: none;
      transform: scale(.7);
    }
    .logo {
      width: 24px;
      margin: 0 10px;
    }
    .xiyo {
      width: 48px;
      transform: translateY(-2px);
    }
  }
  &-aside {
    min-width: 210px;
    height: 100%;
    padding: 16px 16px 16px 28px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, .1);
    position: fixed;
    &-title {
      font-size: 22px;
      margin: 20px 0 10px;
    }
    li {
      color: #777;
      padding: 6px 0;
      transition: all .25s ease;
      &:hover {
        color: #ff8f78;
      }
      .active {
        color: #ff8f78;
      }
    }
  }
  &-main {
    padding: 36px 40px 80px 250px;
    width: 0;
    .detail {
      font-size: 14px;
      color: #666;
      margin-top: 10px;
      &-more {
        font-size: 14px;
        color: #666;
        margin: 0;
        a {
          color: #0366d6;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .icon-example {
      .xiyo-icon {
        margin-right: 12px;
      }
    }
    .button-example, .dialog-example {
      .xiyo-button {
        margin-right: 10px;
      }
    }
    .layout-example {
      .layout {
        height: 200px;
        margin-top: 24px;
        &:first-child {
          margin: 0;
        }
      }
      .header, .footer, .main, .aside {
        color: #fff;
        margin: 2px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .header, .footer {
        background: lighten(#ff8f78, 10%);
      }
      .main {
        background: #ff8f78;
      }
      .aside {
        background: lighten(#ff8f78, 5%);
      }
    }
    .select-example {
      .xiyo-select {
        margin-right: 20px;
        margin-bottom: 16px;
        &:last-child {
          margin: 0
        }
      }
    }
    .demo {
      margin: 50px 0;
      &-content {
        margin-top: 16px;
        border: 1px solid #ddd;
        box-shadow: 0 0 3px fade-out(black, .9);
        transition: all .3s ease;
        &:hover {
          box-shadow: 0 0 10px rgba(#ff8f78, 0.2);
        }
        &-component {
          border-bottom: 1px solid #ddd;
          padding: 24px 20px;
          color: #333;
        }
        &-action {
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .3s ease;
          &:hover {
            background: #fafafa;
          }
          &-button {
            transition: all .3s;
            transform: translateX(32px);
            opacity: 0;
            .xiyo-button-theme-link {
              color: #ff8f78;
            }
          }
          .xiyo-icon {
            transition: all .3s;
            transform: scale(.32) translateX(120px);
            &.codeVisible {
              transform: scale(.32) translateX(120px) rotate(-180deg);
            }
          }
        }
        &-code {
          transition: all .4s;
          max-height: 0;
          overflow: auto;
          background: #fafafa;
          &.codeVisible {
            max-height: 490px;
          }
          pre {
            margin: 0;
            padding: 16px;
            font-size: 14px;
            font-family: Consolas, 'Courier New', Courier, monospace;
          }
        }
      }
    }
    .attributes {
      table {
        font-size: 14px;
        width: 100%;
        border-collapse: collapse;
        tr {
          border-bottom: 1px solid #ddd;
          th {
            color: #999;
            font-weight: normal;
            text-align: left;
            padding: 16px 10px;
          }
          td {
            color: #666;
            padding: 16px 10px;
          }
        }
      }
    }
  }
}
@media (min-width: 500px) {
  .site {
    margin: 0 18vw;
    &-header {
      position: fixed;
      top: 0;
      left: 18vw;
      width: 64vw;
    }
  }
  .demo-content-action:hover {
    cursor: pointer;
    .demo-content-action-button {
      transform: translateX(0);
      opacity: 1;
    }
    .xiyo-icon {
      transform: scale(.32) translateX(6px);
      &.codeVisible {
        transform: scale(.32) translateX(6px) rotate(-180deg);
      }
    }
  }
}
@media (max-width: 500px) {
  .site {
    overflow: auto;
    .markdown-body {
      width: calc(100vw - 80px);
    }
    &-header {
      position: fixed;
      text-align: center;
      top: 0;
      left: 0;
      width: 100vw;
      .menu {
        display: block;
        position: absolute;
        top: 12px;
        left: 22px;
        transition: all .4s ease;
        color: #777;
        &.visible {
          color: #ff8f78;
        }
      }
      .logo {
        width: 24px;
        margin: 0 10px;
      }
      .xiyo {
        display: none;
      }
    }
    &-aside {
      transition: all .4s ease;
      transform: translateX(-210px);
      &.visible {
        transform: translateX(0);
      }
    }
    &-main {
      width: 100vw;
      transition: all .4s ease;
      transform: translateX(-210px);
      position: relative;
      padding: 36px 40px 0 40px;
      margin-left: 210px;
      &.visible {
        transform: translateX(0);
      }
      .site-mask {
        position: absolute;
        width: 100%;
        height: calc(100% + 36px);
        background: rgba(0, 0, 0, 0.25);
        transform: translate(-40px, -36px);
        z-index: -1;
        opacity: 0;
        transition: all .4s ease;
        &.visible {
          z-index: 100;
          opacity: 1;
        }
      }
      .demo-content-action {
        &-button {
          transform: translateX(0);
          opacity: 1;
        }
        .xiyo-icon {
          transform: scale(.32) translateX(32px);
          &.codeVisible {
            transform: scale(.32) translateX(32px) rotate(-180deg);
          }
        }
      }
      .attributes table {
        font-size: 12px;
      }
    }
  }
}

